header {
    background-color: #dcf1fd;
    padding: 0px;
    
}
.logo>h2 {
    color: #5FA1D3;
    padding: 0;
}
span{
    color: white;
    position: absolute;
    top: 12px;
    right: -8px;
    font-size: x-small;
    padding: 1px 4px 0px 4px;
    border-radius: 50%;
    display: inline-block;
    background-color: red;
}
.navbar {
    display: flex;
    justify-content: space-between;
    max-width: 65%;
    margin: 0 auto;
    padding: 10px  0 !important;
}
.logo {
    flex: 20%;
}
.menu {
    display: flex;
    align-items: center;
}
.menu > a {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif !important;
    text-transform: none;
    text-decoration: none;
    margin-left: 25px;
    color: #4196c2;
}
 .menu i{
     font-size: 30px;
     margin: 0px 8px;
 }
.size-icon{
    font-size: 25px;
}
a:hover{
    border-bottom: 1px solid #4196c2;

}
.logo img{
    height: 50px;
}
.post{
    margin-top: 20px;
}
