<header>
    <div class="navbar">
        <div class="logo">
            <a routerLink="" routerLinkActive="active"> <img src="../../assets/image/logo.png" alt=""></a>
        </div>
        <div class="menu">
            <a routerLink="" routerLinkActive="active">TRANG CHỦ</a>
            <a routerLink="#" routerLinkActive="active">THƯ VIỆN SÁCH </a>
            <a routerLink="/post" routerLinkActive="active"><i class="fas fa-user-circle"></i> </a>
            <div> <app-search></app-search></div>
            <!-- <a href="#"></a><i class="fas fa-users size-icon"></i></a>  -->
            <!-- <a routerLink="/payment" routerLinkActive="active"><i class="fas fa-cart-plus size-icon"></i></a> -->
        </div>
    </div>
</header>
