<header>
    <div class="navbar">
        <div class="logo">
            <h2>LOGO</h2>
        </div>
        <div class="menu">
            <a routerLink="" routerLinkActive="active">Trang chủ</a>
            <a routerLink="/food" routerLinkActive="active">Thực đơn </a>
            <!-- <a href="#"></a><i class="fas fa-users size-icon"></i></a> -->
            <span>{{totalCount()}}</span>
            <a routerLink="/payment" routerLinkActive="active"><i class="fas fa-cart-plus size-icon"></i></a>
        </div>
    </div>
</header>
