header {
    background-color: #4C39D8;
    padding: 8px;
}
.logo>h2 {
    color: white;
    padding: 0;
}
nav{
    position: relative;
}
nav a {
    color: white;
    position: relative;
    text-decoration: none;
}
span{
    color: white;
    position: absolute;
    top: 12px;
    right: -8px;
    font-size: x-small;
    padding: 1px 4px 0px 4px;
    border-radius: 50%;
    display: inline-block;
    background-color: red;
}
.navbar {
    display: flex;
    justify-content: space-between;
    max-width: 65%;
    margin: 0 auto;
    padding: 10px  0 !important;
}
.logo {
    flex: 20%;
}
.menu {
    display: flex;
    align-items: center;
}
.menu > a {
    font-size: 14px;
    color: white;
    margin-left: 30px;
    text-decoration: none;
}
.size-icon{
    font-size: 25px;
}
a:hover{
    border-bottom: 1px solid white;

}