.mainUser{
    max-width: 65%;
    margin: 0 auto;
    height: auto;
}
.imageUser{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);	
    margin-top: 2%;
    position: relative;
}
.myAccount{
    display: flex;
    margin-top: 2%;
    /* padding: 10px; */
}
.left1{
    width: 40%;
    height: 400px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   
}
.left1 > button{
    margin-bottom: 0px;
}
.right1{
    
    width: 60%;
    /* height: 400px; */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* z-index: 500;	 */
    margin-bottom: 30px;
}
.line{
    margin-left: 2%;
}
.img{
    width: 15%;
    height: 137px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 18px;
    left: 19px;
    
}
.img:hover{
    /* background-color: #000; */
    opacity: 0.6;
}
.imgHeader{
    width: 100%;
    height: 350px;
}
.create{
    border: 1px solid #d0d0d0;
    height: 45px;
    width: 100%;
    background-color: #c6e4f9;
    display: flex;
    justify-content: space-evenly;
}
.linegroup{
    border-right: 1px solid;
}
p{
    padding-top: 8px;
}
.content{
    display: flex;
    margin-top: 2%;
    margin-left: 5%;
}
.avata{
    width: 10%;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}
.avata1{
    width: 8%;
    height: 48px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}
.h4{
    text-align: center;
    padding-top: 20px;
}
.p{
    text-align: start;
    padding-left: 20px;
}
/* popup */
.center-popup{
    display: flex;
    justify-content: center;
    justify-items: center;
}
.mar-t{
    margin-top: 20px;
}
.box{
    box-shadow: 3px 1px 17px 1px rgb(227, 221, 221);
    cursor: pointer;
}
img{
    width: 100%;
    height: 100%;
}
.card{
    display: inline-block;
    width: 23.5%;
    margin-right: 14px;
}
.display-flex{
    display: flex;
    flex-wrap: wrap;
    
}
.box >div:nth-child(1){
    height: auto;
}
.card-type{
    color: #666;
    font-size: 13px;
}
.card-note{
    color:rgb(163, 154, 154);
    font-size: 16px;
    font-weight: bolder;

}
.left{
    width: 50%;
}
.right{
    width: 50%;
}
.modal-body{
    padding: 0px 10px;
}
.nofi{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);	
    width: 100%;
    height: 200px;
    border-radius: 4px;
}
.img-thumbnail{
    width: 85% !important;
    height: auto;
    margin-left: 10%;

}
.post{
    display: flex;
   /* margin-top: 10px; */
   padding-top: 20px;
   padding-bottom: 15px;
}
.post > .left{
    width: 25%;
}
.post > .center{
    width: 65%;
}
.post > .right{
    width: 10%;
}
h5{
  font-weight: bold;
    
}

.create-post{
    /* margin-bottom: 10px; */
    height: 200px;
}
.selected{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-top: 1px solid  rgb(227, 221, 221);
}
.selected div{
    border:1px solid black;
    border-radius: 7px;
    padding: 3px;
    cursor: pointer;
}
.edit{
    height: 38px;
    width: 95%;
    margin-left: 2.5%;
    background-color: #f7f5f5;
    border: 1px solid rgb(227, 221, 221);
 margin-top: 80px;
    text-align: center;
}
.button-close{
    font-size: 20px;
}
.h3{
    text-align: center;
    font-size: 22px;
    padding-top: 15px;
  color: rgb(163, 154, 154);
}
.dang{
    bottom: 7px;
    width: 97%;
    height: 40px;
    border: 1px solid #29ABE2;
    background-color: #29ABE2;
    position: absolute;
    border-radius: 5px;
}
.add{
    display: flex;
    justify-content: space-between;
    border: 1px solid  rgb(163, 154, 154);
    border-radius: 5px;
    height: 54px;
    width: 100%;
    margin-top: 3%
}
.inp{
    width: 100%;
    height: 142px;
    border: 1px solid #fff; 
}
.main{
    display: flex;
}
.imgPost{
    border: 1px solid rgb(163, 154, 154);
    width: 75%;
    height: 167px;
    margin-left: 2%;
}
.hinhAnh{
    color: #000;
}
.click{
    color: rgb(163, 154, 154) ;
    text-align: center;
}
/* popup */
 .popup_detail{
    .center{
        display: flex;
        justify-content: center;
        justify-items: center;
    }
    .mar-t{
        margin-top: 20px;
    }
    .box{
        box-shadow: 3px 1px 17px 1px rgb(227, 221, 221);
        cursor: pointer;
    }
    img{
        width: 100%;
        height: 100%;
    }
    .card{
        display: inline-block;
        width: 23.5%;
        margin-right: 14px;
    }
    .display-flex{
        display: flex;
        flex-wrap: wrap;
        
    }
    .box >div:nth-child(1){
        height: 175px;
    }
    .card-type{
        color: #666;
        font-size: 13px;
    }
    .card-note{
        color:rgb(163, 154, 154);
        font-size: 16px;
        font-weight: bolder;
    
    }
    .left{
        width: 50%;
    }
    .right{
        width: 50%;
    }
    .modal-body{
        padding: 0;
    }
    .content{
        padding: 0 50px;
    }
    .work{
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    color: #001a39;
    background-color: #edf8fe;
    }
    .text-work{
        font-family: 'Playfair Display', serif;
        color: #001a39;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin: 39px 0px 0px 0px;
        padding-top: 50px;
        /* margin-top: 50px; */
    }
 }
//  post
.input-group-text{
        width: 120px;
    }


