<div class="mainUser">
    <div class="imageUser">
        <img src="../../assets/image/header_about.png" alt="" style=" width: 100%;
    height: 350px;">
        <div>
            <div class="img"></div>
        </div>

    </div>
    <div class="myAccount">
        <div class="left1">
            <div>
                <div>
                    <h4 class="h4">Giới thiệu</h4>
                    <p style="text-align: center;">Trần Thị Minh Xuân</p>
                </div>
                <div>
                    <p class="p">User: <span style="color: blue;"></span></p>
                    <p class="p">Sống tại: <span style="color: blue;">Thành Phố Hồ Chí Minh</span></p>
                    <p class="p">Đến từ: <span style="color: blue;">Bình Định</span></p>
                    <p class="p">Đã tham gia từ: <span style="color: blue;">Tháng 6 năm 2020</span></p>
                </div>
            </div>

        </div>
        <div class="line" style="margin-left: 2%;">

        </div>
        <div class="right1">
            <div class="create">
                <div class="post">
                    <p>Tạo bài viết</p>
                </div>
                <div class="linegroup"></div>
                <div class="postImg">
                    <p>Ảnh/Video</p>
                </div>
            </div>
            <div class="content" data-toggle="modal" data-target="#staticBackdrop">
                <div class="avata">
                    <!-- img -->
                </div>
                <div>
                    <p style="padding-left: 10px;">Đăng bài...</p>
                </div>
            </div>
            <div class="info">

            </div>

            <hr />
            <!-- popup -->
            <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
                role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="center">
                                <div class="left">
                                    <img src="../../assets/image/Dien-thoai-nay-dung-chung-nhe.jpg" alt="">
                                </div>
                                <div class="right">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <div class="content">
                                        <div class="card-body">
                                            <div>
                                                <p class="card-title">title</p>
                                                <p class="card-type">details</p>
                                                <p class="card-note">note</p>
                                                <p class="card-price">Price</p>
                                            </div>
                                            <div class="mar-t">
                                                <button type="button" class="btn btn-primary btn-sm active"
                                                    data-dismiss="modal" aria-label="Close">TRAO ĐỔI SÁCH</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end -->
        </div>
       
    </div>
</div>