<div class="main" >
    <section>
        <div class="left">
            <div class="wrapper-left p-4">
                <div class="adress">
                    <div>
                        <i class="fas fa-compass"></i>
                    </div>
                    <div>
                        <p>Địa điểm giao hàng</p>
                        <p>Block A tang 9, lau 11</p>
                    </div>
                </div>
                <div class="icon-left">
                    <i class="fas fa-align-justify"></i>
                </div>
            </div>
            <div class="wrapper-box p-1">
                <p class=" p-3">Đơn hàng của bạn</p>
                <div class="box p-3 border-top " *ngFor='let item of lists'>
                    <div class="wrapper">
                        <div class="img-product mr-3">
                            <img  src="{{item.img}}" alt="img">
                        </div>
                        <div class="content mrg-l">
                            <p>{{item.name}}</p>
                            <p>{{item.price | currency: 'VND'}}</p>
                        </div>
                    </div>
                    <div class="num-product">
                        <p>x{{item.count}}</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="right ">
            <div class="wrapper-box p-3 mb-3">
                <p class="border-bottom pb-2">Chi tiết thanh toán</p>
                <div style="overflow: hidden;" class="price">
                    <div class="border-bottom color-gray pt-3 pb-3">
                        <div class="mb-2">
                            <span>Giá tiền (ước tính)</span>
                            <span>{{total() | currency: 'VND'}}</span>
                        </div>
                        <div>
                            <span>Phí khác</span>
                            <span>0</span>
                        </div>
                    </div>

                    <div class="pt-2">
                        <span>Tổng thanh toán</span>
                        <span>{{total() | currency: 'VND'}}</span>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-lg btn-block color">Đặt hàng</button>
        </div>
    </section>
</div>