.home-page{
    max-width: 65%;
    margin: 0 auto;
}

.main {
    position: relative;
}
.center{
    display: flex;
    justify-content: center;
    justify-items: center;
}
ul li{
    list-style-type: none;
    border-radius: 50px;
    background-color: #efeded88;
    margin-left: 30px;
    width: 125px;
    display: flex;
    justify-content: center;
    padding: 8px;
    font-size: 14px; 
}
li a{
    text-decoration: none;
}
ul li:hover{
    background-color: #4C39D8;
    color: white;
}
.define-color{
    background-color: #4C39D8;
}
.mar-t{
    margin-top: 20px;
}
.box{
    box-shadow: 3px 1px 17px 1px rgb(227, 221, 221);
    cursor: pointer;
}
img{
    width: 100%;
    height: 100%;
}
.card{
    display: inline-block;
    width: 23.5%;
    margin-right: 14px;
}
.display-flex{
    display: flex;
    flex-wrap: wrap;
    
}
.box >div:nth-child(1){
    height: 175px;
}
.card-type{
    color: gray;
    font-size: 13px;
}
.card-price{
    color: #4C39D8;
    font-size: 16px;
    font-weight: bolder;

}
.showPopup{
   height: 30%;
   width: 65%;
   margin: 0 auto;
   margin-top: 10%;

}
.left{
    width: 50%;
}
.right{
    width: 50%;
}
.modal-body{
    padding: 0;
}
.content{
    padding: 0 50px;
}